html, body {
    margin: 0;
    padding: 0;
  }

  *, *::after, *::before {
    box-sizing: border-box;
  }

  body {
    display: flex;
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
  }



.site-wrapper {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 26px;
}

.error-text {
    color: red;
}

.mb-20 {
    margin-bottom: 20px;
}

.ml-15 {
    margin-left: 15px;
}